<div class="add-property-slider">
	<form name="addProperty">
		<div class="modal-panel-header clearfix bg-gray">
            <span class="Text-color--dark Text-fontSize--16 Text-fontWeight--medium">
            	<span translate="properties.addproperty"></span>
            </span>
        </div>
        <div class="Box-background--offset">
       		<div>
				<span class="Text-fontWeight--medium" translate="properties.propertyname"></span><br>
				<div class="PressableCore-base">
					<input type="text" name="propertyname" class="inputbox" placeholder='{{"properties.propertyname" | translate}}' style="width: 100%;">
					<div style="position: absolute; display: none;" class="error">
						<span class="Text-color--red Text-fontSize--12 Text-fontWeight--medium" translate="properties.propertynameerror"></span>
					</div>
				</div>
			</div>
			<div style="margin-top: 20px;">
				<span class="Text-fontWeight--medium" translate="properties.address"></span><br>
				<div class="PressableCore-base">
					<input type="text" name="address_1" class="inputbox" style="width: 100%;" placeholder='{{"properties.address.line_1" | translate}}'>
					<!--div style="position: absolute; display: none;" class="error">
						<span class="Text-color--red Text-fontSize--12 Text-fontWeight--medium">Please enter a Property email.</span>
					</div-->
				</div>
				<div class="PressableCore-base">
					<input type="text" name="address_2" class="inputbox" style="width: 100%;" placeholder='{{"properties.address.line_2" | translate}}'>
					<!--div style="position: absolute; display: none;" class="error">
						<span class="Text-color--red Text-fontSize--12 Text-fontWeight--medium">Please enter a Property email.</span>
					</div-->
				</div>
				<div class="PressableCore-base">
					<input type="text" name="postalcode" class="inputbox" style="width: 100%;" placeholder='{{"properties.address.postalcode" | translate}}'>
					<!--div style="position: absolute; display: none;" class="error">
						<span class="Text-color--red Text-fontSize--12 Text-fontWeight--medium">Please enter a Property email.</span>
					</div-->
				</div>
				<div class="PressableCore-base">
					<input type="text" name="city" class="inputbox" style="width: 100%;" placeholder='{{"properties.address.city" | translate}}'>
					<!--div style="position: absolute; display: none;" class="error">
						<span class="Text-color--red Text-fontSize--12 Text-fontWeight--medium">Please enter a Property email.</span>
					</div-->
				</div>
			</div>
			<div style="margin-top: 20px;height: 45px;">
				<span class="Text-fontWeight--medium" translate="properties.type"></span><br>
				<div style="margin-top: 10px;">
					<input type="radio" name="type" value="{{CONSTANTS.HOUSETYPE.HOUSE}}" ng-click="typeRadioChange($event)" checked="">
					<label translate='{{"properties.type.house"}}'></label>
					<input type="radio" name="type" value="{{CONSTANTS.HOUSETYPE.APPARTMENT}}" ng-click="typeRadioChange($event)">
					<label translate='{{"properties.type.appartment"}}'></label>
				</div>
			</div>
			<div id="dynamic-content" >
				<div style="margin-top: 20px;">
					<span class="Text-fontWeight--medium" translate="properties.appartment.units"></span><br>
					<div class="PressableCore-base">
						<input type="text" name="propertyname" class="inputbox" placeholder='{{"properties.appartment.units.placeholder" | translate}}' style="width: 100%;">
					</div>
				</div>
				<div>
					<a class="UnstyledLink InlineLink Text-color--blue" translate="properties.appartment.units.add"></a>
				</div>
			</div>
        </div>
        <div class="modal-panel-footer clearfix bg-gray">
        	<div align="center">
				<button class="btn btn-md bgcolorgreen m-r-5 Text-color--white" translate="save"></button>
				<button class="btn btn-md m-r-5 bgcolorlightgrey" translate="cancel"></button>
			</div>
        </div>
	</form>
</div>
<script type="text/ng-template" id="HOUSE">
	<div style="margin-top: 20px;">
		<span class="Text-fontWeight--medium" translate="properties.capacity"></span><br>
		<div class="PressableCore-base">
			<input type="text" name="propertyname" class="inputbox" placeholder='{{"properties.capacity.placeholder" | translate}}' style="width: 100%;">
		</div>
	</div>
	<div style="margin-top: 20px;height: 63px;">
		<div style="width: 43%;position: absolute;">
			<span class="Text-fontWeight--medium" translate="properties.area"></span><br>
				<div class="PressableCore-base" style="width:100%">
					<input type="text" name="propertyname" class="inputbox" style="width: 75%;"><span style="margin-left: 6px;">m<sup>2</sup></span>
				</div>
		</div>
		<div style="width: 50%;position: absolute;left: 53%;">
			<span class="Text-fontWeight--medium" translate="properties.rent"></span><br>
				<div class="PressableCore-base" style="width:100%">
					<input type="text" name="propertyname" class="inputbox" style="width: 53%;"><span style="margin-left: 6px;">&euro;/{{"properties.rent.person" | translate}}</span>
				</div>
		</div>
	</div>
 </script>
 <script type="text/ng-template" id="APPARTMENT">
	<div style="margin-top: 20px;">
		<span class="Text-fontWeight--medium" translate="properties.appartment.units"></span><br>
		<div class="PressableCore-base">
			<input type="text" name="propertyname" class="inputbox" placeholder='{{"properties.appartment.units.placeholder" | translate}}' style="width: 100%;">
		</div>
	</div>
 </script>