<div class="overlay-bg" class="fadeIn" ng-show="editproperty.showForm">
<div>
	<form name="editproperty.form" spellcheck="false" class="add-property-form" novalidate rp-form-submit ng-submit="editproperty.submit()" style="top: 10%;">
		<div class="add-property-slider">
			<div class="modal-panel-header clearfix bg-gray">
	            <span class="Text-color--dark Text-fontSize--16 Text-fontWeight--medium">
	            	<span translate="properties.editproperty"></span>
	            </span>
	        </div>
	         <div class="Box-background--offset" style="max-height: 450px;">
	         	<div>
	         		<span class="Text-fontWeight--medium" translate="properties.propertyname"></span><br>
	         		<div class="PressableCore-base" ng-class="{'invalid': editproperty.form.propertyname.$error.pattern || (editproperty.form.$submitted && editproperty.form.propertyname.$error.required)}">
						<input type="text" rp-limit-length="64" name="propertyname" ng-model="editproperty.property.propertyname" ng-pattern="editproperty.constants.REGEX.NOTALLOWEDCHARS" class="inputbox" placeholder='{{"properties.propertyname" | translate}}' style="width: 100%;" required/>
						<div style="margin-top:5px" ng-show="editproperty.form.$submitted || editproperty.form.propertyname.$error.pattern">
							<span ng-show="editproperty.form.propertyname.$error.pattern" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.propertynameerror"></span>
							<span ng-show="editproperty.form.propertyname.$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.propertynamerequired"></span>
						</div>
					</div>
	         	</div>
	         	<div style="margin-top: 20px;">
	         		<span class="Text-fontWeight--medium" translate="properties.address"></span><br>
	         		<div class="PressableCore-base" ng-class="{'invalid': editproperty.form.address_1.$error.pattern || (editproperty.form.$submitted && editproperty.form.address_1.$error.required)}">
						<input type="text" rp-limit-length="64" name="address_1" ng-model="editproperty.property.addressline_1" class="inputbox" style="width: 100%;" placeholder='{{"properties.address.line_1" | translate}}' ng-pattern="editproperty.constants.REGEX.NOTALLOWEDCHARS" required/>
						<div style="margin-top:5px" ng-show="editproperty.form.$submitted || editproperty.form.address_1.$error.pattern">
							<span ng-show="editproperty.form.address_1.$error.pattern" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.addresserror"></span>
							<span ng-show="editproperty.form.address_1.$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.addressrequired"></span>
						</div>
					</div>
					<div class="PressableCore-base"  ng-class="{'invalid': editproperty.form.address_2.$error.pattern || (editproperty.form.$submitted && editproperty.form.address_2.$error.required)}">
						<input type="text" rp-limit-length="64" name="address_2" ng-model="editproperty.property.addressline_2" class="inputbox" style="width: 100%;" placeholder='{{"properties.address.line_2" | translate}}' ng-pattern="editproperty.constants.REGEX.NOTALLOWEDCHARS" required/>
						<div style="margin-top:5px" ng-show="editproperty.form.$submitted || editproperty.form.address_2.$error.pattern">
							<span ng-show="editproperty.form.address_2.$error.pattern" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.addresserror"></span>
							<span ng-show="editproperty.form.address_2.$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.addressrequired"></span>
						</div>
					</div>
					<div class="PressableCore-base" ng-class="{'invalid': editproperty.form.postalcode.$error.pattern || (editproperty.form.$submitted && editproperty.form.postalcode.$error.required)}">
						<input type="text" rp-number rp-limit-length="5" name="postalcode" ng-model="editproperty.property.postal" class="inputbox" style="width: 100%;" placeholder='{{"properties.address.postalcode" | translate}}' ng-pattern="editproperty.constants.REGEX.POSTALCODE" required>
						<div style="margin-top:5px" ng-show="editproperty.form.$submitted || editproperty.form.postalcode.$error.pattern">
							<span ng-show="editproperty.form.postalcode.$error.pattern" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.address.postalcodeerror"></span>
							<span ng-show="editproperty.form.postalcode.$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.address.postalcoderequired"></span>
						</div>
					</div>
					<div class="PressableCore-base" ng-class="{'invalid': editproperty.form.city.$error.pattern || (editproperty.form.$submitted && editproperty.form.city.$error.required)}">
						<input type="text" rp-limit-length="64" name="city" ng-model="editproperty.property.city" class="inputbox" style="width: 100%;" placeholder='{{"properties.address.city" | translate}}' ng-pattern="editproperty.constants.REGEX.NOTALLOWEDCHARSANDNUMS" required>
						<div style="margin-top:5px" ng-show="editproperty.form.$submitted || editproperty.form.city.$error.pattern">
							<span ng-show="editproperty.form.city.$error.pattern" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.address.cityerror"></span>
							<span ng-show="editproperty.form.city.$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.address.cityrequired"></span>
						</div>
					</div>
					<div id="dynamic-content" ng-include="editproperty.property.propertytype">
						
					</div>
					<!--div id="dynamic-content">
						
					</div-->
	         	</div>
	         </div>
	         <div class="modal-panel-footer clearfix bg-gray">
	        	<div align="center">
					<button class="btn btn-md bgcolorgreen m-r-5 Text-color--white" translate="save" type="submit"></button>
					<button class="btn btn-md m-r-5 bgcolorlightgrey" translate="cancel" ng-click="editproperty.closeTemplate()"></button>
				</div>
	        </div>
		</div>
	</form>
</div>
<script type="text/ng-template" id="HOUSE">
	<div style="margin-top: 20px;height: auto" ng-init="editproperty.finished()">
		<div style="width: 50%;position: relative;float: left;">
			<span class="Text-fontWeight--medium" translate="properties.area"></span><br>
			<div class="PressableCore-base" style="width:100%" ng-class="{'invalid': editproperty.form.$submitted && editproperty.form.area.$error.required}">
				<input rp-number rp-limit-length="10" name="area" ng-model="editproperty.property.detailsDTO.area" class="inputbox" style="width: 66%;" required><span style="margin-left: 6px;" class="Text-fontSize--13">m<sup>2</sup></span>
				<div style="margin-top:5px" ng-show="editproperty.form.$submitted && editproperty.form.area.$error.required">
					<span ng-show="editproperty.form.area.$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.area.required"></span>
				</div>
			</div>
		</div>
		<div style="width: 50%;position: relative;float: left;">
			<span class="Text-fontWeight--medium" translate="properties.rent"></span><br>
			<div class="PressableCore-base" style="width:100%" ng-class="{'invalid': editproperty.form.$submitted && editproperty.form.rent.$error.required}">
				<input rp-number rp-limit-length="10" name="rent" ng-model="editproperty.property.detailsDTO.rent" class="inputbox" style="width: 66%;" required><span style="margin-left: 6px;" class="Text-fontSize--13">&euro;/{{"properties.rent.person" | translate}}</span>
				<div style="margin-top:5px" ng-show="editproperty.form.$submitted && editproperty.form.rent.$error.required">
					<span ng-show="editproperty.form.rent.$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.rent.required"></span>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div style="margin-top: 20px;">
		<span class="Text-fontWeight--medium" translate="properties.capacity"></span><br>
		<div class="PressableCore-base" ng-class="{'invalid': (editproperty.form.$submitted && editproperty.form.capacity.$error.required) || editproperty.form.capacity.$error.min}">
			<input type="number" min="{{editproperty.property.detailsDTO.occupied}}" rp-number rp-limit-length="6" ng-model="editproperty.property.detailsDTO.capacity" name="capacity" class="inputbox" placeholder='{{"properties.capacity.placeholder" | translate}}' style="width: 100%;" required>
			<div style="margin-top:5px" ng-show="(editproperty.form.$submitted && editproperty.form.capacity.$error.required) || editproperty.form.capacity.$error.min">
				<span ng-show="editproperty.form.capacity.$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.capacity.required"></span>
				<span ng-show="editproperty.form.capacity.$error.min" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium">{{"properties.capacity.mincapacity" | translate:{min:editproperty.property.detailsDTO.occupied} }}</span>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="APPARTMENT">
<ul>
	<li data-ng-repeat="entry in editproperty.property.units" ng-init="$last && editproperty.finished()">
		<div style="margin-top: 20px;">
			<div style="width: 50%;position: relative;float: left;">
				<span class="Text-fontWeight--medium" translate="properties.door"></span><br>
				<div class="PressableCore-base" style="width:100%" ng-class="{'invalid': editproperty.form.$submitted && editproperty.form['door_' + $index].$error.required}">
					<input type="text" name="door_{{$index}}" ng-model="entry.doorno" rp-alpha-number rp-limit-length="4" class="inputbox" style="width: 66%;" required>
					<div style="margin-top:5px" ng-show="(editproperty.form.$submitted && editproperty.form['door_' + $index].$error.required) || editproperty.form['door_' + $index].$error.pattern">
						<span ng-show="editproperty.form['door_' + $index].$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.door.required"></span>
					</div>
				</div>
			</div>
			<div style="width: 50%;position: relative;float: left;">
				<span class="Text-fontWeight--medium" translate="properties.floor"></span><br>
				<div class="PressableCore-base" style="width:100%" ng-class="{'invalid': editproperty.form.$submitted && editproperty.form['floor_' + $index].$error.required}">
					<input type="text" name="floor_{{$index}}" ng-model="entry.floorno" rp-whole-number rp-limit-length="4" class="inputbox" style="width: 66%;" required>
					<div style="margin-top:5px" ng-show="(editproperty.form.$submitted && editproperty.form['floor_' + $index].$error.required) || editproperty.form['floor_' + $index].$error.pattern">
						<span ng-show="editproperty.form['floor_' + $index].$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.floor.required"></span>
					</div>
				</div>
			</div>
			<div class="closeicon" ng-show="editproperty.property.units.length>1">
				<a ng-click="editproperty.removeUnit($index)"><img src="/resources/images/close.svg" height="14px"></img></a>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style="margin-top: 20px;">
			<div style="width: 50%;position: relative;float: left;">
				<span class="Text-fontWeight--medium" translate="properties.area"></span><br>
				<div class="PressableCore-base" style="width:100%" ng-class="{'invalid': editproperty.form.$submitted && editproperty.form['area_' + $index].$error.required}">
					<input rp-number rp-limit-length="10" name="area_{{$index}}" ng-model="entry.area" class="inputbox" style="width: 66%;" required><span style="margin-left: 6px;" class="Text-fontSize--13">m<sup>2</sup></span>
					<div style="margin-top:5px" ng-show="editproperty.form.$submitted && editproperty.form['area_' + $index].$error.required">
						<span ng-show="editproperty.form['area_' + $index].$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.area.required"></span>
					</div>
				</div>
			</div>
			<div style="width: 50%;position: relative;float: left;">
				<span class="Text-fontWeight--medium" translate="properties.rent"></span><br>
				<div class="PressableCore-base" style="width:100%" ng-class="{'invalid': editproperty.form.$submitted && editproperty.form['rent_' + $index].$error.required}">
					<input rp-number rp-limit-length="10" name="rent_{{$index}}" ng-model="entry.rent" class="inputbox" style="width: 66%;" required><span style="margin-left: 6px;" class="Text-fontSize--13">&euro;/{{"properties.rent.person" | translate}}</span>
					<div style="margin-top:5px" ng-show="editproperty.form.$submitted && editproperty.form['rent_' + $index].$error.required">
						<span ng-show="editproperty.form['rent_' + $index].$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.rent.required"></span>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style="margin-top: 20px;">
			<span class="Text-fontWeight--medium" translate="properties.capacity"></span><br>
			<div class="PressableCore-base" ng-class="{'invalid': (editproperty.form.$submitted && editproperty.form['capacity_' + $index].$error.required)  || editproperty.form['capacity_' + $index].$error.min}">
				<input type="number" min="{{entry.occupied}}" rp-number rp-limit-length="6" ng-model="entry.capacity" name="capacity_{{$index}}" class="inputbox" placeholder='{{"properties.capacity.placeholder" | translate}}' style="width: 100%;" required>
				<div style="margin-top:5px" ng-show="(editproperty.form.$submitted && editproperty.form['capacity_' + $index].$error.required) || editproperty.form['capacity_' + $index].$error.min">
					<span ng-show="editproperty.form['capacity_' + $index].$error.required" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium" translate="properties.capacity.required"></span>
					<span ng-show="editproperty.form['capacity_' + $index].$error.min" class="Text-color--red Text-fontSize--13 Text-fontWeight--medium">{{"properties.apartment.unitmincapacity" | translate:{min:entry.occupied} }}</span>
				</div>
			</div>
		</div>
	</li>
</ul>	
<div style="margin-top: 10px;" class="Text-fontWeight--medium">
	<a class="UnstyledLink InlineLink Text-color--blue" translate="properties.appartment.units.add" ng-click="editproperty.addUnit()"></a>
</div>
</script>