<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title th:utext="#{html.error.title}"></title>
	<link rel="icon" href="/resources/images/favicon.svg">
	<link rel="stylesheet" href="/resources/css/main.css">
</head>
<body>
<div align="center" style="margin-top: 5%;">
	<img src="/resources/images/icon.svg" width="150" height="auto">
	<div class="Padding-top--48 Padding-bottom--32 Padding-horizontal--48">
		<div>
  			<div align="center" class="innerdiv basic-drop-shadow" style="width: 45%;height: 150px;">
  				<div style="padding-top: 10px;">
					<img src="/resources/images/error.svg" width="81" height="60">
				</div>
  				<div th:text="${message}" class="Text-color--red Text-fontWeight--medium" style="padding: 20px;"/>
  			</div>
		</div>
	</div>
</div>
</body>
</html>